.sp-navigation {
  list-style: none;
  display: flex;
  padding: 0;
}

.sp-navigation .sp-item {
  display: flex;
  justify-content: center;
  align-items:center;
}

.sp-navigation .sp-item .sp-link {
	display: block;
	padding: 9px 10.5px 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: .2s;
  background-color: transparent;
  border: none;
  /* border: var(--sp-default-border); */
}

.sp-navigation .sp-item .sp-link.disabled {
  cursor: default;
  color: #7d7d7d;
}

.sp-navigation .sp-item .sp-link.disabled:hover {
  background-color: transparent;
}

.sp-navigation .sp-item .sp-link.dark:hover {
  background-color: var(--sp-dark);
  color: #fff;
}

.sp-navigation .sp-item .sp-numlink {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 20px 21px 20px 20px;
  border-radius: 25px;
  justify-content: center;
  align-items:center;
}

.sp-navigation .sp-item .sp-numlink.active {
  background-color: var(--sp-active-mark-color);
}

.sp-navigation .sp-item .sp-numlink.active.dark {
  background-color: var(--sp-dark);
}

.sp-navigation .sp-item .sp-input {
	width: 50px;
	padding: 10px 8px;
	margin-top: -10px;
	text-align: center;
	border-radius: var(--sp-default-border-radius);
	border: var(--sp-default-border);
  outline: none;
  box-sizing: border-box;
  transition: box-shadow 180ms ease-in;
}

.sp-navigation .sp-item .sp-input:focus {
  box-shadow: 0 0 0 2px var(--sp-default-border-color);
}

.sp-navigation .sp-item .sp-link.no-background {
  background-color: transparent !important;
}

.sp-navigation .sp-item .sp-link:hover {
  background-color: var(--sp-active-mark-color);
}

