.sp-searchbox-wrapper {
  display: flex;
  align-items: center;
}

.sp-searchbox {
  outline: none;
  padding: 10px 15px 10px 10px;
  border: var(--sp-default-border);
  border-radius: var(--sp-default-border-radius);
  box-sizing: border-box;
  transition: box-shadow 180ms ease-in;
  width: 100%;
}

.sp-searchbox:focus {
  /* border: solid 1px var(--sp-default-border-color) !important; */
  box-shadow: 0 0 0 2px var(--sp-default-border-color);
}

.sp-searchbox-icon {
  margin-left: -30px;
  color: var(--sp-grey-color);
}
